{
    "parser": "babel-eslint",
    "extends": [
        "airbnb-base",
        "prettier"
    ],
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {},
    "parserOptions": {
        "sourceType": "module"
    }
}