*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #ccc;
    background: rgb(32, 35, 37);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid rgb(10, 10, 10);
    background-color: rgb(28, 32, 34);
}

.header .left {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 20px;
}

.header .left a {
    text-decoration: none;
}

.header .left a .logo {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.header .left a .version {
    color: rgb(103, 191, 0);
    font-size: 12px;
    margin-right: 10px;
}

.header .left a .description {
    color: #8e8e8e;
    font-size: 12px;
    font-style: italic;
}

.header .right {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .right .github {
    color: #03A9F4;
    text-decoration: none;
    margin-right: 30px;
}

.header .right .item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px;
    width: 170px;
    cursor: pointer;
    overflow: hidden;
    color: #ccc;
    background-color: rgb(46, 54, 60);
    border-left: 1px solid rgb(10, 10, 10);
    transition: all 0.2s ease;
}

.header .right .item:hover {
    color: #fff;
    background-color: rgb(66, 82, 95);
}

.header .right .item .open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.log {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.main {
    display: flex;
    flex: 1;
}

.main .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid rgb(10, 10, 10);
}

.main .left .item {
    display: flex;
    height: 41px;
    border-bottom: 1px solid rgb(53, 53, 53);
    align-items: center;
    padding: 0 20px;
}

.main .left .item.infos {
    display: flex;
}

.main .left .item.infos .info {
    display: flex;
}

.main .left .item .name {
    color: #999;
    margin-right: 10px;
}

.main .left .item .controller {
    flex: 1;
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 50px;
}

.main .left .item .range .value {
    width: 50px;
    text-align: center;
}

.main .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.waveform {
    position: relative;
    display: flex;
    height: 200px;
    background-color: rgb(28, 32, 34);
    border-top: 1px solid rgb(10, 10, 10);
}
