.wf-player {
    position: relative;
    overflow: hidden;
}

.wf-scrollable {
    cursor: grab;
}

.wf-scrollable.wf-grabbing {
    cursor: grabbing;
}

.wf-cursor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 1px;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.25;
    user-select: none;
    pointer-events: none;
}

.wf-subtitle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
}

.wf-subtitle-item {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    cursor: default;
    pointer-events: all;
    transition: background-color 0.2s ease;
    background-color: rgb(255 255 255 / 25%);
}

.wf-subtitle-item:hover {
    background-color: rgb(255 255 255 / 30%);
}

.wf-subtitle-center {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    white-space: nowrap;
    color: #ffffff;
    text-shadow: rgb(0 0 0 / 75%) 0px 1px 0px;
    flex: 1;
    height: 100%;
}

.wf-subtitle-left, .wf-subtitle-right {
    width: 15px;
    height: 100%;
}